.MainCard {
	animation: showup 0.8s linear, fadeIn 0.2s ease-in;
}

@keyframes showup{

	0%{
    transform: translateY(400px);
    animation-timing-function: ease-out;
  }
  60%{
    transform: translateY(-50px);
    animation-timing-function: ease-in;
  }
  80%{
    transform: translateY(10px);
    animation-timing-function: ease-out;
  }
  100%{
    transform: translateY(0);
    animation-timing-function: ease-in;
  }

}


@keyframes fadeIn {
  from {opacity:0;}
  to {opacity: 1;}
}

.tag-cloud-tag{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  padding-top: 20px;
}